<form class="">
  <div class="row">
    <div class="col-xs-6">
      <textarea name="left" class="input-block-level" rows="5">
      </textarea>
    </div>
    <div class="col-xs-6">
      <textarea name="right" class="input-block-level" rows="5">
      </textarea>
    </div>
  </div>
</form>
