<%- model_class = MagazinePage -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<%= render template: '/magazine_page_layouts/' + @magazine_page.magazine_page_layout.template_file %>
